AIDESCARD_URL="http://YOUR_COMPUTER_IP:9878/kindle/frame.png"
AIDESCARD_INTERVAL=60
AIDESCARD_REPAINT_INTERVAL=15
AIDESCARD_START_DELAY=5
AIDESCARD_START_RETRY_SECONDS=90
AIDESCARD_START_RETRY_INTERVAL=5
AIDESCARD_TOUCH=0
